# {{ ansible_managed }}

[Unit]
Description=Prometheus {{ item.name }}
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
Type=simple
User={{ exporter_username }}
Group={{ exporter_username }}
Restart=on-failure
ExecStart=/usr/local/bin/{{ item.github_name }}/{{ item.github_name }} {{ item.exporter_args }}

[Install]
WantedBy=multi-user.target
