# {{ ansible_managed }}

[Unit]
Description=Prometheus {{ item.name }}
User={{ exporter_username }}
Group={{ exporter_username }}
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
Type=simple
Restart = on-failure
ExecStart={{ item.install_path }}/{{ item.github_name }} {{ item.exporter_args }}

[Install]
WantedBy=multi-user.target
